<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
  <h1>ChatPalace</h1>
  <header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/chat">Chat</a>
        </li>
        <li>
            <a href="/friends">Friends</a>
        </li>
    </ul>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type" aria-label="Person">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
</body>
</html>