<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
  <h1>ChatPalace</h1>
  <header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/chat">Chat</a>
        </li>
        <li>
            <a href="/friends">Friends</a>
        </li>
    </ul>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<h4>Choose who to send this message to!</h4>
<input type="checkbox" >Joe <button class="btn btn-outline-secondary" type="button">Video Chat</button></input>
<br>
<input type="checkbox" >Matt <button class="btn btn-outline-secondary" type="button">Video Chat</button></input>
<br>
<input type="checkbox" >Dan <button class="btn btn-outline-secondary" type="button">Video Chat</button></input>
    <div class="input-group mb-3">
      <br>
        <input type="text" class="form-control" placeholder="Message" aria-label="Person"><button class="btn btn-outline-secondary" type="button">Send</button>
        <div class="input-group-append">
        </div>
      </div>
</body>
</html>