<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
</head>
<body>
    <h1>ChatPalace</h1>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/friends">Friends</a>
            </li>
        </ul>
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <h1>My Friends</h1>
        <li>Joe <button class="btn btn-outline-secondary" type="button">Unfriend</button> <button class="btn btn-outline-secondary" type="button">Send Message</button> </li> 
        <li>Matt <button class="btn btn-outline-secondary" type="button">Unfriend</button> <button class="btn btn-outline-secondary" type="button">Send Message</button> </li> 
        <li>Dan <button class="btn btn-outline-secondary" type="button">Unfriend</button> <button class="btn btn-outline-secondary" type="button">Send Message</button> </li> 
      </ul>
</body>
</html>