<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>ChatPalace</h1>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/chat">Chat</a>
            </li>
            <li>
                <a href="/friends">Friends</a>
            </li>
        </ul>
    </header>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <h2>Welcome to the ChatPalace!</h2>
    In ChatPalace you can chat or video call friends whenever you want!
    Create your own profile today! 
</body>
</html>